{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
    <link rel="stylesheet" href="{% static 'css/signupcss.css' %}">
</head>
<body>
<section class="container">
    <div class="login-container">
        <div class="circle circle-one"></div>
        <div class="form-container">
            <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png"
                 alt="illustration" class="illustration"/>
            <h1 class="opacity">LOGIN</h1>
            <form method="post" action=" ">
                {% csrf_token %}
                <input type="text" name="username" id="id_username" placeholder="username"/>
                <input type="text" name="password" id="id_password" placeholder="password"/>
                <input type="email" name="email" id="id_email" placeholder="email"/>

                <input type="submit" class="opacity" value="Submit">
            </form>
            <div class="register-forget opacity">
                <a href="">REGISTER</a>
                <a href="">FORGOT PASSWORD</a>
            </div>
        </div>
        <div class="circle circle-two"></div>
    </div>
    <div class="theme-btn-container"></div>
</section>
<script src="{% static 'js/signupjs.js' %}"></script>
</body>
</html>