<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>change pass</title>
</head>
<body>
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/signupcss.css' %}">
</head>
<body>
<section class="container">
    <div class="login-container">
        <div class="circle circle-one"></div>
        <div class="form-container">
            <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png"
                 alt="illustration" class="illustration"/>
            <h1 class="opacity">LOGIN</h1>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form method="post" action="{% url 'change_password_verify_email' %}">
                {% csrf_token %}
                <input type="email" name="email" id="email" placeholder="Email"/>
                <input type="submit" class="opacity" value="Submit">
            </form>
            <div class="register-forget opacity">
                <a href="">REGISTER</a>
                <a href="">FORGOT PASSWORD</a>
            </div>
        </div>
        <div class="circle circle-two"></div>
    </div>
    <div class="theme-btn-container"></div>
</section>
</body>
</html>

</body>
</html>